html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: green;
}
a:link {
    color: green;
}
a:visited{
    color: chocolate;
}
a:active{
    color:lightcoral;
}
p {
    color: aqua;
    font-family: 'MS Gothic';
    font-size: 150%;
    padding: 15px;
}

#test {
    font-size:50px;
}

p.myclass {
    font-size: large;
}

table, th, td{
    text-align: center;
    border: 2px groove grey;
    padding: 10px;
}